---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero";
import Section from "../components/Section";
import ServiceCard from "../components/ServiceCard";
import Slider from "../components/Slider";
import Form from "../components/Form";
import { sliderData } from "../data/sliderData";
import HomeVideo from "../assets/videos/homeBanner.mp4";
import Elegirnos from "../components/Home/Elegirnos.astro";
import Testimonios from "../components/Home/Testimonios";
import video from "../assets/videos/realHome.mp4";
import Reconocimientos from "../components/shared/Reconocimientos";
---

<Layout
  title="Inicio - E2TRATEGIAS PATRIMONIALES"
  description="Bienvenido a E2TRATEGIAS PATRIMONIALES"
>
  <Hero
    client:load
    showButton={true}
    onlyTwo={true}
    title="E2TRATEGIAS PATRIMONIALES"
    subtitle="Déjanos hacerte la vida más fácil"
    ctaText="Conoce Más"
    ctaLink="que-hacemos"
    videoSrc={video}
  />
  <Section
    client:load
    title="Nuestros Servicios"
    subtitle="Estrategias patrimoniales diseñadas para que tomes ya el control de tu vida"
    background="dark"
  >
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
      <ServiceCard
        client:visible
        title="Acompañamiento Personalizado"
        description="Trabajamos contigo de forma cercana y transparente para entender tu situación, tus metas y construir un plan alineado a tu etapa de vida."
        iconType="lightbulb"
        delay={0}
      />
      <ServiceCard
        client:visible
        title="Planeación Patrimonial"
        description="Diseñamos estrategias personalizadas para proteger tu patrimonio, optimizar tus recursos y asegurar estabilidad financiera a corto, mediano y largo plazo."
        iconType="users"
        delay={0.1}
      />
      <ServiceCard
        client:visible
        title="Resultados y Seguridad"
        description="Evaluamos constantemente tu estrategia con base en objetivos claros, riesgos controlados y soluciones que priorizan tranquilidad y certeza."
        iconType="chart"
        delay={0.2}
      />
    </div>
  </Section>
  <Slider client:visible videoSrc={HomeVideo} slides={sliderData} />
  <Reconocimientos client:visible />

  <Elegirnos />
  <Testimonios client:visible />
  <Form client:visible />
</Layout>
