---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero";
import Section from "../components/Section";
import Card from "../components/Card";
import { getCollection } from "astro:content";
import PrincipiosSlider from "../components/quienes-somos/PrincipiosSlider";
import Values from "../components/quienes-somos/Values";
import video from "../assets/videos/quienes.mp4";
import placeholderImage from "../assets/images/placeholderIMG/quienes.webp";

const teamMembers = await getCollection("team");
---

<Layout
  title="Quiénes Somos - E2TRATEGIAS PATRIMONIALES"
  description="Conoce a nuestro equipo y nuestra historia"
>
  <Hero
    client:load
    title="Quiénes Somos"
    subtitle="Expertos en diseñar proyectos para disfrutar en vida"
    videoSrc={video}
    placeholder={placeholderImage.src}
  />

  <!-- Pilares  -->
  <Section
    client:load
    title="Nuestros Principios"
    subtitle="La base de todo lo que hacemos"
  >
    <PrincipiosSlider client:visible />
  </Section>

  <!-- Valores  -->
  <Section
    ifBg={true}
    bgImage="https://images.unsplash.com/photo-1686701276039-e49cb956cc09?q=80&w=2086&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
    client:load
    title="Nuestros Valores"
    subtitle="Los pilares que guían nuestro trabajo"
    background="dark"
  >
    <Values client:visible />
  </Section>

  <!-- Team  -->
  <Section
    client:load
    title="Nuestro equipo E2"
    subtitle="Conoce más a detalle a los expertos"
    background="light"
  >
    <div
      class="grid grid-cols-1 md:grid-cols-[repeat(auto-fit,minmax(250px,max-content))] justify-center gap-8"
    >
      {
        teamMembers.map((member) => (
          <Card
            client:visible
            link={`/team/${member.slug}`}
            title={member.data.name}
            description={member.data.description}
            image={
              typeof member.data.image === "string"
                ? member.data.image
                : member.data.image.src
            }
            delay={0}
            transitionNameImage={`image-${member.slug}`}
            transitionNameTitle={`title-${member.slug}`}
            imagePosition="object-top"
          />
        ))
      }
    </div>
  </Section>
</Layout>
