---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero";
import Section from "../components/Section";
import Card from "../components/Card";
import { getCollection } from "astro:content";
import Principios from "../components/quienes-somos/Principios.astro";
import History from "../components/quienes-somos/History.astro";
import Values from "../components/quienes-somos/Values";
import video from "../assets/videos/Home.mp4";

const teamMembers = await getCollection("team");
---

<Layout
  title="Quiénes Somos - E2TRATEGIAS PATRIMONIALES"
  description="Conoce a nuestro equipo y nuestra historia"
>
  <Hero
    client:load
    title="Quiénes Somos"
    subtitle="Somos 2 Expertos en estrategias patrimoniales"
    videoSrc={video}
  />

  <!-- Historia  -->
  <Section
    client:load
    title="Nuestra Historia"
    subtitle="Más de 10 años poniendo vidas en marcha"
    background="light"
  >
    <History />
  </Section>

  <!-- Pilares  -->
  <Section
    client:load
    title="Nuestros 3 Pilares"
    subtitle="Nuestros principios que nos guían"
    background="light"
  >
    <Principios />
  </Section>

  <!-- Valores  -->
  <Section
    client:load
    title="Nuestros Valores"
    subtitle="Los pilares que guían nuestro trabajo"
    background="dark"
  >
    <Values client:visible />
  </Section>

  <!-- Team  -->
  <Section
    client:load
    title="Nuestro equipo E2"
    subtitle="Conoce más a detalle a los expertos"
    background="light"
  >
    <div
      class="grid grid-cols-1 md:grid-cols-[repeat(auto-fit,minmax(250px,max-content))] justify-center gap-8"
    >
      {
        teamMembers.map((member) => (
          <Card
            client:visible
            link={`/team/${member.slug}`}
            title={member.data.name}
            description={member.data.description}
            image={
              typeof member.data.image === "string"
                ? member.data.image
                : member.data.image.src
            }
            delay={0}
            transitionNameImage={`image-${member.slug}`}
            transitionNameTitle={`title-${member.slug}`}
          />
        ))
      }
    </div>
  </Section>
</Layout>
